img{
 
  width: 25%;
   height: auto;
 border: dotted 5px;
}
img:hover {
  border: dashed 8px #3B3355;
}

p{
  
  color: #52796f
}

body{
  background-color: #ffe5ec
  
  
}

h1{
  font-size: 250%;
  color: #814D36;
  font-family: Papyrus;
  text-decoration: none;
  
}

h1:hover {
   color: #5e548e;
  font-size: 260%;

  
}

h2{
  font-size: 180%;
  color: #814D36;
  font-family: Papyrus;
  text-decoration: none;
  
}
h2:hover {
      color: #5e548e;
  font-size: 190%;

  
