h1{
  font-family: Courier New;
  color: #7209b7
  
}

body{
  background-color: #ffcad4
  
  
  
}

a:link, a:visited {
  background-color: #ff8fab;
  color: white;
  padding: 14px 25px;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #fb6f92;
}
  
