body{ 
  background-color: #ffe5ec
  
}

p{
  font-family: Garamond;
  font-size: 30px;
 color: #a53860;
  
  
}
img{
  width: 55%;
  height: auto;
  
  
}


h1{
  font-size: 300%;
  letter-spacing: 3px;
  color: #b5179e;
  text-decoration: underline;
  
  
}

ul{
  text-align: center;
  list-style-type: none;
  font-family: "Times"
  
}

a:link, a:visited {
  background-color: #ff8fab;
  color: white;
  padding: 14px 25px;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #fb6f92;
}
  
  
  
}
