body{ 
  background-color: #ffe5ec
  
}

p{
  font-family: Garamond;
  font-size: 30px;
 color: #a53860;
  
  
}
img{
  width: 55%;
  height: auto;
  
  
}


h1{
  font-size: 300%;
  letter-spacing: 3px;
  color: #b5179e;
  text-decoration: underline;
  
  
}

ul{
  text-align: center;
  list-style-type: none;
  font-family: "Times"
  
}

li {

  background-color: #fb6f92;
  display: inline;
  padding: 20px;
  
}
li:hover {
  background-color: #ef476f; 
  padding: 25px;
}
a {
  text-decoration: none;
  color: #ffc8dd;
}


  
  
  

